@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

#navbarWrapper{
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#navbarWrapper nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
#navbarWrapper > nav > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#navbarWrapper > nav > ul > li {
    list-style: none;
}

#navbarWrapper > nav > ul > li:hover {
    background-color: skyblue;
}
#navbarWrapper > nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

canvas {
    height: 100%;
    width: 100%;
}

main{
    background-color: #fbef7e;
    background-image: linear-gradient(180deg, #fbef7e 62%, #91f768 100%);

}