@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #ffec22;
    background-image: linear-gradient(180deg, #ffbe00 2%,#ffec22 50%, #9ff6cd 100%);
    background-repeat: no-repeat;
}

#navbarWrapper{
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#navbarWrapper nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
#navbarWrapper > nav > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#navbarWrapper > nav > ul > li {
    list-style: none;
}

#navbarWrapper > nav > ul > li:hover {
    background-color: skyblue;
}
#navbarWrapper > nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

canvas {
    height: 100%;
    width: 100%;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}